body {
	font-family: 'lato', sans-serif;
	margin-left: 25px;
	margin-right: 25px;
	margin-top: 10px;
	margin-bottom: 10px;
	padding: 10px;
}

p {
	font-size: 14px;
	color: #666666;
}

h2 {
	margin:5px;
}

hr {
	line-height: 1px;
	opacity: .5;
}

#title {
	color: #EE0000;
}

#topNav a {
	padding-bottom: .2em;
	padding-left: .3em;
	color: #CDCDCD;
	margin-right: .8em;
	text-decoration: none;
	border-bottom: 1.5px solid #CDCDCD;
}

#mainContent {
	margin-top: 25px;
}

#footer a {
	padding-bottom: .2em;
	margin-top: .4em;
	color: #EE0000;
	text-decoration: none;
}
#footer {
	color:#CDCDCD;
	font-size: .9em;
}

.firstLetter {
  float: left;
  font-size: 80px;
  line-height: 0.5;
  margin:; 0.205em 0.153em 0 0;
  padding: 10px;
  color: #CDCDCD;
}

.button a {
	color: #EE0000;
	text-decoration: none;
	font-size: .9em;
	font-weight: bold;
}

.button {
	float: right;
	margin-bottom: 25px;
}

.fadedText {
	color: #CDCDCD;
}

.heroImage {
	height: 300px;
	width: 100%;
	padding: .3em;
}

.text-conatainer {
	border-bottom: 1px solid black;
	padding-bottom: 50px;
	margin-bottom: 10px;
}
}
