body{
	font-family: 'lato', sans-serif;
	margin-left: 50px;
	margin-right: 50px;
	margin-top: 25px;
	margin-bottom: 25px;
	padding: 10px;
}

hr {
	line-height: 1px;
	opacity: .5;
}

h2 {
	margin: 10px;
}

#title{
	color: red;
}

#topNav a {
	padding-bottom: .2em;
	color: gray;
	margin-right: .8em;
	text-decoration: none;
	border-bottom: 1.5px solid gray;
}

#mainContent {
	margin-top: 25px;
}
.firstLetter{
  float: left;
  font-size: 80px;
  line-height: 0.5;
  margin:; 0.205em 0.153em 0 0;
  padding: 10px;
  color: lightGray;
}

.continues {
	position: relative;
	float: right;
	margin: 10px;
}

.fadedText{
	color: gray;
}

.heroImage {
	height: 300px;
	width: 100%;
}