h1 {
	font-size: 48px;
	font-family: 'Lobster' , cursive;
	text-align: center;
}

body {
	font-size: 14px;
	font-family: gill sans;
	text-align: center;
	background: url("../img/brushstroke.jpg");
	background-size: cover;
}

.avatar {
	margin: 60px 30px;
	border-radius: 100%;

}

.columns {
	float: left;
	width: 100px;
}

.column-parent {
	overflow: hidden;
	width: 400px;
	margin: 0 auto;
}