h1 {
	font-size: 48px;
	font-family: 'Lobster', cursive;
	text-align: center;
}

a {
	font-size: 24px;
	color: black;
}

body {
	font-size: 14px;
	font-family: gill sans, sans-serif;
	text-align: center;
	background: url("../img/tallows.jpg");
	background-size: cover;
	background-attachment: fixed;
}

.avatar {
	margin: 60px 30px;
	border-radius: 100%;
	border: 2px solid;
}

.columns {
	float: left;
	width: 125px;
}

.column-parent {
	overflow: hidden;
	width: 500px;
	margin: 0 auto;
}

.whiteBlock {
background-color: white; 
width: 600px;
margin-right: auto; 
margin-left: auto; 
text-align: center;
border: 2px solid;
}
